@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background-color: #B2D732;">
    <div class="container">
        <h1 class="display-4" style="color: #092834">UTS Medical System</h1>
        <p class="lead">
            This system is a simple application that
            allows students to book medical appointments
            with UTS Medical Professionals.
        </p>
    </div>
</div>
