
@model UTSMedicalSystem.FrontEnd.Models.Appointment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit Existing Appointment</h2>

@*<h4>Appointment</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <h4>Edit Appointment Details</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Please Select A Doctor</label>
                <select asp-for="DoctorID" id="selectedDoctor" class="form-control" asp-items="ViewBag.DoctorID"></select>
                
            </div>
            <div class="form-group">

                <label>Please Select A Date</label>
                <div id="datepicker" data-provide="datepicker-inline"></div>
                <input id="datepicker_input" class="hidden" placeholder="dd/mm/yyyy" />
                <label>Existing Date: @Model.Time.Date.ToShortDateString()</label><br />
            </div>
            <div>
                <label>Please Select A Time</label>
                <select class="form-control" id="timeSlots" asp-items="@{new SelectList(string.Empty, "Value", "Text")}"></select>
                <label>Existing Time: @Model.Time.ToShortTimeString()</label>
            </div>
            <input asp-for="Time" class="hidden" id="modelTime" />
            <input asp-for="Location" class="hidden" value="UTS" />
            <hr />

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $("#datepicker").datepicker({
            format: "mm/dd/yyyy",
            startDate: "0d",
            maxViewMode: 1,
            daysOfWeekDisabled: "0,6",

        })
    </script>
    <script type="text/javascript">
        var defItem = "<option value=0>Please Select A Date</option>";
        $("#timeSlots").html(defItem);

        $("#selectedDoctor").on('change', function () {
            UpdateTimeSlots();
        });
    </script>
    <script type="text/javascript">
        $("#timeSlots").on('change', function () {
            var apptTime = $("#timeSlots option:selected").val();
            var apptDate = $("#datepicker_input").val();
            $("#modelTime").val(apptDate + " " + apptTime);
            console.log("TimeSlotUpdate")
        })
    </script>
    <script type="text/javascript">
        $("#datepicker").on('changeDate', function () {
            $("#datepicker_input").val($("#datepicker").datepicker('getFormattedDate'));
            console.log("DatePicker ChangedDate");
            UpdateTimeSlots();
        });
    </script>
    <script type="text/javascript">
    function UpdateTimeSlots() {
        var selDate = $("#datepicker_input");
        var selDoctor = $("#selectedDoctor option:selected").val();
        console.log(selDoctor);
        console.log($(selDoctor));
        console.log($(selDoctor).val());
        var data = "{date:" + JSON.stringify($(selDate).val()) + ", doctor:" + selDoctor + "}";
        var url = "/Appointments/GetTimeSlots";

        $.ajax({
            type: 'POST',
            url: url,
            dataType: 'json',
            contentType: 'application/json',
            data: data,
            success: function (result) {
                var items = "<option value=0>Please Select A Time</option>";
                $("#timeSlots").empty();
                $.each(result, function (i, slot) {
                    items += "<option value='" + slot.value + "'>" + slot.text + "</option>";
                });
                $("#timeSlots").html(items);
            }
        });
        $("#modelTime").val("");
        }
        </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
